* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: salmon;
}
  
.card {

    font-family: Arial, Helvetica, sans-serif;
  
    width: 300px;
    margin: 0 auto;
    background: white;
    
  
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
  
  
    box-shadow: -20px -20px 0px 0px #fb968b;
    border-radius: 10px;
}
  
.card_title {
  
    text-align: center;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
  
    margin-top: 14px;
    margin-bottom: 14px;
}
  
.card_title::after, .card_title::before {
  
    content: '  ';
    display: inline-block;
    width: 100%;
    height: 2px;
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: salmon;
}
  
.card_title::after {
  
    width: 15%;
    left: 0;
    top: 0;
}
  
.card_title::before {
  
    width: 15%;
    left: 0;
    top: 0;
}
  
  
/* Color de seleccion--------------------------- */
  
*::selection {
  
  
    background-color: salmon;
    color: white;
}
  
  
  
  
/* Color de letra/linea especifica--------------------- */
  
p::first-letter {
  
    color:  salmon;
  
    text-transform: uppercase;
  
    font-size: 2rem;
  
    font-weight: 900;
  
}
  
p::first-line {
  
    color: steelblue;
    font-size: 2rem;
    font-weight: bold;
}
  
p{
  
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0.1px;
}
  
  
  
  
/* Contador---------------------------------------- */
  
.card ul {
  
    /* margin-top: 10px; */
    counter-reset: contador;
}
  
.card ul li{
  
    list-style: none;
    padding: 0 auto;
    margin-bottom: 10px;
}
  
  
  
.card ul li::before {
  
    content: counter(contador);
    counter-increment: contador;
  
    display: inline-block;
  
    background-color: salmon;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  
    border-radius: 50%;
  
    color: white;
    margin-right: 20px;
  
  
}
  
/* ::after pone estilos luego de un elemento y ::before los pone antes. */







/* ---------------------MENU ENCABEZADO--------------------- */

.encabezado {


    width: 100%;
    height: 140px;
    background-color: #cc063e;
    padding: 20px;
    font-family: "Concert One", sans-serif;
  
}
  
  .encabezado a {
  
    text-decoration: none;
    color: #e2d9c2; 
  }
  
  
  .Titulo {
  
    color: #e2d9c2;
    text-align: center;
  
  
  }
  
  
  .Titulo::after, .Titulo::before {
  
    content: "  ";
    display: inline-block;
    width: 100px;
    height: 2px;
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #fd9407;
  }
  
  .menu-encabezado{
    text-align: center;
  }
  
  .menu-H {
  
    list-style: none;
    padding: 20px;
    margin: 0;
  
    
  }
  
  .menu-H li {
  
  
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  
    
  }
  
  .menu-H li ul {
  
    display: none;
    position: absolute; /* Para que el submenú aparezca debajo del elemento principal */
    top: 100%; /* Para que aparezca justo debajo del elemento principal */
    width: 200px;
    text-align: center;
    background-color: #64c6ffcf;
    padding: 5px;
    list-style: none;
    z-index: 1000; /* Este de aqui me asegurara de que el sub menu aparesca sobre lo demas */
    border-radius: 10px;
  
  }
  
  .menu-H li ul li {
    padding: 10px 20px; /* Ajustar el padding para los elementos del submenú */
  }
  
  
  .menu-H li:hover ul {
  
    display: block;
    
  }
  
  .menu-encabezado a {
  
    display: block;
  
    text-decoration: none;
    color:  #e2d9c2;
    padding-top: 7px;
  
    transition: 0.2s;
  }
  
  .menu-encabezado a:hover {
  
    font-weight: bold;
    transform: scale(1.3);
    color:  #fd9407;
  }